<?xml version="1.0" encoding="UTF-8" ?>
<Module>
<!--
This software is not intended for public distribution at this time.
Only authorized users are allowed to read/use/modify this software.
-->
	<ModulePrefs title="Hangout Tinkering">
		<Require feature="rpc" />
		<Require feature="views" />
		<Require feature="locked-domain" />
	</ModulePrefs>
	<Content type="html"><![CDATA[
<!-- Domain: //hangoutsdeception.github.io/ -->
<html>

<link rel="stylesheet" href="//hangoutsdeception.github.io/css/app.css">
<body>

<div id="main">
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="//hangoutsdeception.github.io/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
<script src="//hangoutsdeception.github.io/js/main.js"></script>

</body>
]]>
</Content>
</Module>
